.list-card {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	background-color: #fff;
	border-radius: 0px;
	/*border:1px solid #e0e0e0;*/
	cursor: pointer;
	transition: .2899s all;
	transition-timing-function: ease-in;
	outline: none;
}

.list-card:hover {
	box-shadow: 0 1px 11px 4px rgba(0, 0, 0, 0.14);
}

.list-card .header {
	padding: 11px 21px;
	padding-bottom: 0px;	
	background-color: #fdfdfd;

}
.list-card .header .title {
	display: inline-block;
	cursor: pointer;
	font-weight: 500!important;
	padding-bottom: 7px;
	border-bottom: 2px solid transparent;
	outline: none;
}

.list-card .header .title:hover {
     border-bottom: 2px solid #a9a9a9;
}
.list-card .content {
	padding: 11px 21px;
	padding-bottom: 0px;
}

.list-card .content .matches .item {
  background-color: #f4f4f4;
  padding: 5px 9px;
  font-size: 13px;
  margin: 0 2px;
  color: #333;
  border-top:2px solid #d9d9d9;
}

.list-card .content .matches .item:first-child {
  margin-left: 0px;
}

.list-card .content .details {
	margin-top:7px;
}

.list-card .content .details .row {
	padding: 3px 0px;
	color: #666;
	font-size: 12px;
}
.list-card .footer {
	margin: 0 21px; 
	text-align: right;
	background-color: #fff;
	border-top:1px solid #e9e9e9;
	padding: 11px 0px;
	margin-top: -11px;
}

.list-card .footer .button {
	opacity: 0.8;
	border-width: 0px;
}
.list-card .footer .button:hover {	
	opacity: 1;
}

.no-items-indi {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 250px;
}