<div class="section container">





	<div class="columns">
	  <div class="column is-3 r-border">
	    
	    <div stick-from-top="0">
	     	<aside class="menu">
				  <p class="menu-label">
				    SELECT TYPE
				  </p>
				  <ul class="menu-list">
				    <li><a class="{{isFlowTab}}" (click)="filterModules('flow')">Flows</a></li>
				    <li><a class="{{isMenuTab}}" (click)="filterModules('menu')">Menu's</a></li>
				  </ul>
				  <!-- <p class="menu-label">
				    Administration
				  </p>
				  <ul class="menu-list">
				    <li><a>Team Settings</a></li>
				    <li>
				      <a class="is-active">Manage Your Team</a>
				      <ul>
				        <li><a>Members</a></li>
				        <li><a>Plugins</a></li>
				        <li><a>Add a member</a></li>
				      </ul>
				    </li>
				    <li><a>Invitations</a></li>
				    <li><a>Cloud Storage Environment Settings</a></li>
				    <li><a>Authentication</a></li>
				  </ul>
				  <p class="menu-label">
				    Transactions
				  </p>
				  <ul class="menu-list">
				    <li><a>Payments</a></li>
				    <li><a>Transfers</a></li>
				    <li><a>Balance</a></li>
				  </ul> -->
			</aside>
		</div>	

	  </div>
	  <div class="column">

	  <sub-loader *ngIf="!Modules" loader-title="Loading Modules.."></sub-loader>
	    
           

           <div class="columns is-multiline">
			  <div class="column is-6 anim-4 sliceInUp" *ngFor="let item of filteredModulesData" >
		   <div class="list-card" >
		   		<div class="header">
                 	<h5 class="title is-5" [routerLink]="item.type == 'flow' ? ['flow-item', item._id] : ['menu', item._id]">{{item.name}}</h5>
		   		</div>
		   		<div class="content">
		   			<div class="matches">
		   				<span class="item" *ngFor="let m of item.matches">{{m}}</span>
		   			</div>
		   			<div class="details">
		   				<div class="row">Created at: 3 months ago</div>
		   				<div class="row">Triggerd 3 times</div>
		   				<div class="row">Last triggered 3 days ago</div>
		   			</div>
		   		</div>
		   		<div class="footer">
		   			   <a class="button is-small is-info is-outlined">
					    <span class="icon is-small ">
					      <i class="fa fa-pencil" aria-hidden="true"></i>
					    </span>
					    <span>Edit</span>
					  </a>
					  <a class="button is-small is-primary is-outlined">
					    <span class="icon is-small ">
					      <i class="fa fa-clone" aria-hidden="true"></i>
					    </span>
					    <span>Copy</span>
					  </a>

					  <a class="button is-small is-danger is-outlined	">
					    <span class="icon is-small">
					     <i class="fa fa-trash-o" aria-hidden="true"></i>
					    </span>
					    <span>Delete</span>
					  </a>
		   		</div>
		   </div>

		 </div>
		   </div>


         



	  </div>
	</div>
</div>