<div class="section container">
	<div class="columns">
	  <div class="column is-3">
	    
	    <div stick-from-top="0">
	     	<aside class="menu">
				  <p class="menu-label">
				    SELECT TYPE
				  </p>
				  <ul class="menu-list">
				    <li><a class="{{isFlowTab}}" (click)="filterModules('flow')">Flows</a></li>
				    <li><a class="{{isMenuTab}}" (click)="filterModules('menu')">Menu's</a></li>
				  </ul>
				  <!-- <p class="menu-label">
				    Administration
				  </p>
				  <ul class="menu-list">
				    <li><a>Team Settings</a></li>
				    <li>
				      <a class="is-active">Manage Your Team</a>
				      <ul>
				        <li><a>Members</a></li>
				        <li><a>Plugins</a></li>
				        <li><a>Add a member</a></li>
				      </ul>
				    </li>
				    <li><a>Invitations</a></li>
				    <li><a>Cloud Storage Environment Settings</a></li>
				    <li><a>Authentication</a></li>
				  </ul>
				  <p class="menu-label">
				    Transactions
				  </p>
				  <ul class="menu-list">
				    <li><a>Payments</a></li>
				    <li><a>Transfers</a></li>
				    <li><a>Balance</a></li>
				  </ul> -->
			</aside>
		</div>	

	  </div>
	  <div class="column">
	    
           

           <div class="columns is-multiline">
			  <div class="column is-6 anim sliceInUp" *ngFor="let item of filteredModulesData" >
			    <div class="card">
				  <header class="card-header">
				    <p class="card-header-title is-primary">
				      {{item.name}}
				    </p>
				    <a class="card-header-icon">
				      <span class="icon">
				        <i class="fa fa-angle-down"></i>
				      </span>
				    </a>
				  </header>
				  <div class="card-content">
				    <div class="content">
				      Matches:	<span class="tag for-space" *ngFor="let m of item.matches">{{m}}</span>
				      <br>
				      <small>Created: 11:09 PM - 1 Jan 2016</small>
				    </div>
				  </div>
				  <footer class="card-footer">
				    <a class="card-footer-item">Save</a>
				    <a class="card-footer-item">Edit</a>
				    <a class="card-footer-item">Delete</a>
				  </footer>
				</div>
			  </div>
		   </div>



	  </div>
	</div>
</div>