<div class="section container">





	<div class="columns">
	  <div class="column is-3 r-border">
	    
	    <div stick-from-top="0">
	     	<aside class="menu">
				  <p class="menu-label">
				    SELECT TYPE
				  </p>
				  <ul class="menu-list">
				    <li><a class="{{isFlowTab}}" (click)="filterModules('flow')">Flows</a></li>
				    <li><a class="{{isMenuTab}}" (click)="filterModules('menu')">Menu's</a></li>
				  </ul>
				  <!-- <p class="menu-label">
				    Administration
				  </p>
				  <ul class="menu-list">
				    <li><a>Team Settings</a></li>
				    <li>
				      <a class="is-active">Manage Your Team</a>
				      <ul>
				        <li><a>Members</a></li>
				        <li><a>Plugins</a></li>
				        <li><a>Add a member</a></li>
				      </ul>
				    </li>
				    <li><a>Invitations</a></li>
				    <li><a>Cloud Storage Environment Settings</a></li>
				    <li><a>Authentication</a></li>
				  </ul>
				  <p class="menu-label">
				    Transactions
				  </p>
				  <ul class="menu-list">
				    <li><a>Payments</a></li>
				    <li><a>Transfers</a></li>
				    <li><a>Balance</a></li>
				  </ul> -->
			</aside>
		</div>	

	  </div>
	  <div class="column">

	  <sub-loader *ngIf="!Modules" loader-title="Loading Modules.."></sub-loader>
	    
           

           <div class="columns is-multiline">
			  <div class="column is-6 anim-4 sliceInUp" *ngFor="let item of filteredModulesData" >
		   <div class="list-card" >
		   		<div class="header">
                 	<h5 class="title is-5" [routerLink]="item.type == 'flow' ? ['flow-item', item._id] : ['menu', item._id]">{{item.name}}</h5>
		   		</div>
		   		<div class="content">
		   			<div class="matches">
		   				<span class="item border-top-primary" *ngFor="let m of item.matches">{{m}}</span>
		   			</div>
		   			<div class="details">	
		   				<div class="row"><span class="icon is-small"><i class="fa fa-clock-o" aria-hidden="true"></i></span> Created at: <b>{{item.timestamp_created.at | amTimeAgo}}</b></div>
		   				<div class="row"><span class="icon is-small"><i class="fa fa-check-square" aria-hidden="true"></i></span> Triggerd <b>{{item.statastics.triggered}}</b> times</div>
		   				<div class="row" *ngIf="item.statastics.triggered>0"><span class="icon is-small"><i class="fa fa-clock-o" aria-hidden="true"></i></span> Last triggered <b>{{item.statastics.triggeredAt | amTimeAgo}}</b></div>
		   			</div>
		   		</div>
		   		<div class="footer">
		   			   <a class="button is-small is-info is-outlined" [routerLink]="item.type == 'flow' ? ['flow-item', item._id] : ['menu', item._id]">
					    <span class="icon is-small ">
					      <i class="fa fa-pencil" aria-hidden="true"></i>
					    </span>
					    <span>Edit</span>
					  </a>
					  <a class="button is-small is-primary is-outlined">
					    <span class="icon is-small ">
					      <i class="fa fa-clone" aria-hidden="true"></i>
					    </span>
					    <span>Copy</span>
					  </a>

					  <a class="button is-small is-danger is-outlined" (click)="openDeleteModuleModal(item._id)">
					    <span class="icon is-small">
					     <i class="fa fa-trash-o" aria-hidden="true"></i>
					    </span>
					    <span>Delete</span>
					  </a>
		   		</div>
		   </div>

		 </div>
		   </div>


         



	  </div>
	</div>
</div>








<!-- email service  delete modal -->


<div class="modal is-active" *ngIf="moduleDeleteStatus.isModal">
  <div class="modal-background" (click)="moduleDeleteStatus.isModal = false"></div>
  <div class="modal-content">
     <div class="card anim zoomIn">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4">Confirm to Delete? </p>
		        <p class="subtitle is-6">No longer available for recover!</p>
		      </div>
		    </div>

		    <div class="content">
		      <a class="button is-primary" [class.is-loading]="moduleDeleteStatus.updating" (click)="deleteModule()">Delete</a>
		      <a class="button is-danger is-outlined" (click)="moduleDeleteStatus.isModal = false" [class.is-disabled]="moduleDeleteStatus.updating">Cancel</a>
		    </div>
		  </div>
		</div>
  </div>
  <button class="modal-close" (click)="moduleDeleteStatus.isModal = false"></button>
</div>