<div class="section container">
	<div class="columns">
	  <div class="column is-3 r-border">
	    <div stick-from-top="0">
         <nav class="panel">
			  <p class="panel-heading">
			    {{flowData.name || 'Loading...'}}
			  </p>
			  <span class="panel-block" *ngIf="isLoadingFlow">
			  	<div class="loader-bar"></div>
			  </span>
			  <span class="panel-block is-active flex-wrap" *ngIf="!isLoadingFlow">
			    <span class="panel-icon">
			      <i class="fa fa-share"></i>
			    </span>
			    <span class="tag" *ngFor="let mt of flowData.matches">{{mt}}</span>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingFlow">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Created at: {{flowData.timestamp_created.at}}</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingFlow">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Modified at: {{flowData.timestamp_updated.at}}</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingFlow && flowData.statastics">
			    <span class="panel-icon">
			      <i class="fa fa-check-square"></i>
			    </span>
			    <small>Triggerd: {{flowData.statastics.triggered || '0'}} times</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingFlow && flowData.statastics">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Last Triggerd: {{flowData.statastics.triggeredAt || '0'}} ago</small>
			  </span>
	</nav>
		</div> 
	  </div>
	  <div class="column">

	    <!-- tabs -->
	    <div class="tabs" stick-from-top="0">
		  <ul>
		    <li [class.is-active]="selectedTab == 'flow'" (click)="selectedTab = 'flow'"><a>Flow</a></li>
		    <li [class.is-active]="selectedTab == 'service'" (click)="selectedTab = 'service'"><a>Services</a></li>
		  </ul>
		</div>


   <div class="f-card">
		 <div class="title"><span class="index">1</span><span class="text">Title card</span></div>
		 <div class="content">
			 <div class="msgs">
				 <div class="item">This is msg</div>
			 </div>
		 </div>
		 <div class="footer">
			 <a class="button is-small is-primary is-outlined" (click)="openEditFlowItem(i, 'edit')">
					            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
					            <span>Edit</span>
			 </a>
		 </div>
	 </div>




		<sub-loader *ngIf="isLoadingFlow" loader-title="Loading Flow.."></sub-loader>

		<div *ngIf="!isLoadingFlow && selectedTab != 'flow'" class="anim sliceInUp"> <!-- start of service tab -->
        	<services-view [ServicesData]="flowData"></services-view>
        </div>  <!-- end of service tab -->

      <div *ngIf="!isLoadingFlow && selectedTab == 'flow'"> <!-- start of flow tab -->
	    <div class="flow anim sliceInUp" >

        <!-- welcome card -->
          <div class="flow-card-divider" *ngIf="!flowData.welcome.msg" style="margin-bottom: -5px;">
	    	  <div class="left">
	    		<a class="button is-primary is-medium" (click)="openWelcomeEditModal()">
			    <span class="icon">
			      <i class="fa fa-plus"></i>
			    </span>
			    <span>Wecome Message</span>
			  </a>
	    	  </div>
	    	  <div class="right"></div>
	    	</div>


          <div class="end-card-content" *ngIf="flowData.welcome.msg">
              <div class="box flow-card" [class.is-loading]="i==4">
	    		    <div class="loader-bar" *ngIf="i==4"></div>
					  <article class="media">
					    <div class="media-content">
					      <div class="content">
					        <p>
					          <strong><a class="button is-outlined">Welcome Message</a></strong> <small>@ Dec</small> <small>31m</small>
					          <br>
					          <span class="l-tag is-light" *ngFor="let m of flowData.welcome.msg">{{m}}</span>
					        </p>
					      </div>
					      <nav class="level is-mobile flow-card-actions">
					        <div class="level-left">
					          <a class="button is-small is-primary is-outlined" (click)="openWelcomeEditModal()">
					            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
					            <span>Edit</span>
					          </a> 
					        </div>
					      </nav>
					    </div>
					  </article>
	    			</div>
          	
          </div>

          <div class="flow-card-divider">
	    	  <div class="left">
	    		<div class="bars" style="flex-basis: 61px"></div>
	    		<div class="bar-add-icon add-flow-indicater-container {{indi}}"><i (click)="openEditFlowItem(0, 'insert')" class="fa fa-plus" aria-hidden="true"></i></div>
	    		<div class="bars"></div>
	    	  </div>
	    	  <div class="right">
	    	  		<article class="message is-primary" *ngIf="!flowData.modules || flowData.modules.length == 0">
					  <div class="message-body">
					     No Flows Items are added! click on <span class="tag is-info add-flow-indicater" (mouseleave)="indi = ''" (mouseenter)="indi = 'wobble'">Add</span> icon to add Items.
					  </div>
					</article>
	    	  </div>
	    	</div>
        <!-- welcome card end -->


        <!-- loop cards -->
	      <div *ngFor="let item of flowData.modules; let i = index;">
	    	<div class="flow-card-content">
	    	    <div class="flow-bar">
	    	    	<div class="bars"></div>
	    	    	<div class="bar-m"></div>
	    	    	<div class="bars"></div>
	    	    </div>
	    		<div class="box flow-card" [class.is-loading]="i==editFlowItemIndex && isLoadingeditFlowItem" [ngClass]="{'anim': (i==editFlowItemIndex && isLoadingeditFlowItem), 'fadeInRight': (updateFlowType != 'edit'), 'pulse': (updateFlowType == 'edit')}">
	    		    <div class="loader-bar" *ngIf="i==editFlowItemIndex && isLoadingeditFlowItem"></div>
					  <article class="media">
					    <div class="media-left">
					      <figure class="image is-16x16">
					       {{i+1}}
					      </figure>
					    </div>
					    <div class="media-content">
					      <div class="content">
					        <p>
					          <strong><a class="button is-outlined">{{item.name}}</a></strong> <small>@ Dec</small> <small>31m</small>
					          <br>
					          <span class="l-tag is-light" *ngFor="let m of item.msg">{{m}}</span>
					        </p>
					      </div>
					      <nav class="level is-mobile flow-card-actions">
					        <div class="level-left">
					          <a class="button is-small is-primary is-outlined" (click)="openEditFlowItem(i, 'edit')">
					            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
					            <span>Edit</span>
					          </a>  &nbsp;
					          <a class="button is-small is-info is-outlined">
					            <span class="icon is-small"><i class="fa fa-clone"></i></span>
					            <span>Copy</span>
					          </a> &nbsp;
					          <a class="button is-small is-danger is-outlined" (click)="openFlowItemDeleteModal(i)">
					            <span class="icon is-small"><i class="fa fa-trash"></i></span>
					            <span>Delete</span>
					          </a>
					        </div>
					      </nav>
					    </div>
					  </article>
	    			</div>
	    	</div>




	    	<div class="flow-card-divider">
	    	  <div class="left">
	    		<div class="bars"></div>
	    		<div class="bar-add-icon"><i (click)="openEditFlowItem(i+1, 'insert')" class="fa fa-plus" aria-hidden="true"></i></div>
	    		<div class="bars"></div>
	    	  </div>
	    	  <div class="right"></div>
	    	</div>

        </div>

        <!-- loop cards end  -->

        <!-- final card -->

          <div class="flow-card-divider">
	    	  <div class="left">
	    		<div class="bars" style="flex-basis: 11px"></div>
	    	  </div>
	    	  <div class="right"></div>
	    	</div>


	    	<div class="flow-card-divider" *ngIf="!flowData.final.msg">
	    	  <div class="left">
	    		<a class="button is-primary is-medium" (click)="openFinalEditModal()">
			    <span class="icon">
			      <i class="fa fa-plus"></i>
			    </span>
			    <span>Add Final Action</span>
			  </a>
	    	  </div>
	    	  <div class="right"></div>
	    	</div>

          

          <div class="end-card-content" *ngIf="flowData.final.msg">
              <div class="box flow-card" [class.is-loading]="false">
	    		    <div class="loader-bar" *ngIf="i==4"></div>
					  <article class="media">
					    <div class="media-content">
					      <div class="content">
					        <p>
					          <strong><a class="button is-outlined">End Flow </a></strong> <small>@ Dec</small> <small>31m</small>
					          <br>
					          <span class="l-tag is-light" *ngFor="let m of flowData.final.msg">{{m}}</span>
					        </p>
					      </div>
					      <nav class="level is-mobile flow-card-actions">
					        <div class="level-left">
					          <a class="button is-small is-primary is-outlined" (click)="openFinalEditModal()">
					            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
					            <span>Edit</span>
					          </a>  
					        </div>
					      </nav>
					    </div>
					  </article>
	    			</div>
          	
          </div>

          
	        <!-- final card end -->
	    </div> <!-- end of flow tab -->


        


	    </div>

      
			
	  	
	  </div>
	 </div>
</div>	  




<!-- modals -->
<div class="modal is-active" *ngIf="isActiveModal">
  <div class="modal-background"></div>
  <div class="modal-card anim zoomIn">
    <header class="modal-card-head">
      <p class="modal-card-title">{{updateFlowType | uppercase}} FLOW</p>
      <button class="delete" (click)="isActiveModal = false"></button>
    </header>
    <section class="modal-card-body">

      <form [formGroup]="createFlowItemForm" >
         <div class="input-container">
         	<div class="label">Name Of the Module *</div>
         	<div class="field">
         		<input type="text" formControlName="name" auto-tag [autoTagValue]="createFlowItemForm"/>
         	</div>
         	<div class="err" *ngIf="formErrors.name">{{formErrors.name}}</div>
         </div>

          <div class="input-container no-style">
         	<div class="label">Module Message *	</div>
         	<div class="field">
         		<tag-input (onFocus)="msg_sub_err = true" class='tooltip' formControlName="msg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Msgs'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         	{{focused_msg}}
         	<div class="err" *ngIf="formErrors.msg">{{formErrors.msg}}</div>
         	<div class="err" *ngIf="!formErrors.msg && msg_sub_err && createFlowItemForm.value.msg.length==0">{{validationMessages.msg.required}}</div>
         </div>	

         <div class="input-container no-style">
         	<div class="label">Before Message</div>
         	<div class="field">
         		<tag-input class='tooltip' formControlName="beforeMsg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Msgs'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         </div>


         <div class="input-container no-style">
         	<div class="label">After Message</div>
         	<div class="field">
         		<tag-input class='tooltip' formControlName="afterMsg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Msgs'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         </div>


          <br/>
          <div class="columns">
			  <div class="column is-3">
			    Validation Type:
			  </div>
			  <div class="column">
               <div class="input-container">
			    <span class="select">
							<select formControlName="validate">
			        <option *ngFor="let v of validationTypeArray" value="{{v.value}}">{{v.title}}</option>
			      </select>
			    </span>

			    <div *ngIf="createFlowItemForm.value.validate != 'none'">
                      <tag-input (onFocus)="v_msg_sub_err = true" class='tooltip' formControlName="validateErrMsg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Validate Msgs *'" [editable]="true" [modelAsStrings]="true">  
		                 <span class="tooltiptext">Type and Press Enter to add items</span> 
		              </tag-input>
		              <div class="err" *ngIf="formErrors.validateErrMsg"><br/>{{formErrors.validateErrMsg}}</div>
		              <div class="err" *ngIf="v_msg_sub_err && createFlowItemForm.value.validateErrMsg.length==0"><br/>{{validationMessages.validateErrMsg.required}}</div>
			    </div>



              </div>
			</div>
		  </div>


          <div class="columns">
			  <div class="column is-3">
			    Suggestion Type:
			  </div>
			  <div class="column">
			   <div class="input-container">
			    <span class="select">
			      <select formControlName="shortcut">
			        <option *ngFor="let s of suggestionTypeArray" value="{{s.value}}">{{s.title}}</option>
			      </select>
			    </span>


			    <div *ngIf="createFlowItemForm.value.shortcut != 'none'">
                      <tag-input (onFocus)="s_msg_sub_err = true"  class='tooltip' formControlName="shortcutData" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Suggestion Items *'" [editable]="true" [modelAsStrings]="true">  
		                 <span class="tooltiptext">Type and Press Enter to add items</span> 
		              </tag-input>
		              <div class="err" *ngIf="formErrors.shortcutData"><br/>{{formErrors.shortcutData}}</div>
		              <div class="err" *ngIf="s_msg_sub_err && createFlowItemForm.value.shortcutData.length==0"><br/>{{validationMessages.shortcutData.required}}</div>
			    </div>


               </div>
			 </div>
		  </div>	  
     </form>
    </section>
    <footer class="modal-card-foot">
      <span class="button is-success tooltip" [class.is-disabled]="(createFlowItemForm.invalid) || (createFlowItemForm.value.validate != 'none' && createFlowItemForm.value.validateErrMsg.length==0) || (createFlowItemForm.value.shortcut != 'none' && createFlowItemForm.value.shortcutData.length==0)" (click)="updateFlowItem()">{{updateFlowType | uppercase}}
      <span class="tooltiptext" *ngIf="((createFlowItemForm.invalid) || (createFlowItemForm.value.validate != 'none' && createFlowItemForm.value.validateErrMsg.length==0) || (createFlowItemForm.value.shortcut != 'none' && createFlowItemForm.value.shortcutData.length==0))">Fill are required fields(*)</span> 
      </span>
      <a class="button" (click)="isActiveModal = false">Cancel</a>
    </footer>
  </div>
</div>



<!-- welcome add modal -->

<div class="modal is-active" *ngIf="isMelcomeModal">
  <div class="modal-background"></div>
  <div class="modal-card anim zoomIn">
    <header class="modal-card-head">
      <p class="modal-card-title">Welcome Message</p>
      <button class="delete" (click)="isMelcomeModal = false" *ngIf="!isWelcomeModalUpdating"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="createWelcomeFlowItem">

       <div class="input-container no-style">
         	<div class="label">Module Message *	</div>
         	<div class="field">
         		<tag-input (onFocus)="msg_welcome_err = true" class='tooltip' formControlName="msg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Msgs'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         	<div class="err" *ngIf="msg_welcome_err && createWelcomeFlowItem.value.msg.length==0">Specify atleast one message! </div>
       </div>
    </form>


    </section>
    <footer class="modal-card-foot">
      <a class="button is-success" (click)="editWelcomeFlowItem() && msg_welcome_err = true" [class.is-loading]="isWelcomeModalUpdating">Save changes</a>
      <a class="button" (click)="isMelcomeModal = false" *ngIf="!isWelcomeModalUpdating">Cancel</a>
    </footer>
  </div>
</div>



<!-- final add modal -->

<div class="modal is-active" *ngIf="isFinalModal">
  <div class="modal-background"></div>
  <div class="modal-card anim zoomIn">
    <header class="modal-card-head">
      <p class="modal-card-title">Final Action</p>
      <button class="delete" (click)="isFinalModal = false" *ngIf="!isFinalModalUpdating"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="createFinalFlowItem">

       <div class="input-container no-style">
         	<div class="label">Module Message *	</div>
         	<div class="field">
         		<tag-input (onFocus)="msg_final_err = true" class='tooltip' formControlName="msg" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Msgs'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         	<div class="err" *ngIf="msg_final_err && createFinalFlowItem.value.msg.length==0">Specify atleast one message! </div>
       </div>
    </form>


    </section>
    <footer class="modal-card-foot">
      <a class="button is-success" (click)="editFinalFlowItem() && msg_final_err = true" [class.is-loading]="isFinalModalUpdating">Save changes</a>
      <a class="button" (click)="isFinalModal = false" *ngIf="!isFinalModalUpdating">Cancel</a>
    </footer>
  </div>
</div>




<!-- flow item confirm delete modal -->


<div class="modal is-active" *ngIf="flowItemDeleteStatus.isModal">
  <div class="modal-background" (click)="flowItemDeleteStatus.isModal = false"></div>
  <div class="modal-content">
     <div class="card anim zoomIn">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4">Confirm to Delete? </p>
		        <p class="subtitle is-6">No longer available for recover!</p>
		      </div>
		    </div>

		    <div class="content">
		      <a class="button is-primary" [class.is-loading]="flowItemDeleteStatus.updating" (click)="deleteFlowItem()">Delete</a>
		      <a class="button is-danger is-outlined" (click)="flowItemDeleteStatus.isModal = false" [class.is-disabled]="flowItemDeleteStatus.updating">Cancel</a>
		    </div>
		  </div>
		</div>
  </div>
  <button class="modal-close" (click)="flowItemDeleteStatus.isModal = false"></button>
</div>



