.flow {
	display: flex;
	background-color: #fff;
	padding: 11px 9% 11px 3px;
	flex-direction: column;
}
.flow .flow-card-content {
	display: flex;
	flex-direction: row;
} 

.flow .flow-card-content .flow-bar {
   flex-grow: 30;
   min-width: 30%;
   display: flex;
   flex-direction: column;
   align-content: center;
}
.bars {
   flex-grow: 1;
   width: 7px;
   background: #d9d9d9;
   margin: 0 auto;
}
.bar-m {
   flex-basis: 7px;
   background: #d9d9d9;
   width: calc(50% + 3.5px);
   margin-left: calc(50% - 3.5px);
}


.flow .flow-card-content .flow-card {
	height: auto;
	flex-grow: 70;
}

.flow .flow-card-content .flow-card.is-loading {
  opacity: 0.4;
  background: #e0e0e0;
}

.flow .flow-card-content .flow-card .loader-bar {
    top: -1.25rem;
    left: -1.25rem;
    width: calc(100% + 1.25rem + 1.25rem);
    z-index: 30;
}

.flow-card figure {
	background: #d9d9d9;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}

.flow-card-divider {
   display: flex;
   flex-direction: row;
   height: 50px;
}
.flow-card-divider .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.flow-card-divider .right {
  width: 70%;
  padding: 11px;
}
.bar-add-icon {
  flex-basis: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.bar-add-icon i {
	border: 7px solid #d9d9d9;
	color: #777;
	padding: 4px 9px;
	border-radius: 7px;
	background: #f0f0f0;
	cursor: pointer;
	z-index: 20;
  transition: 0.1s all;
}

.bar-add-icon i:hover {
	border-color:  #999;
	color: #555;
}

.end-card-content {
  display: flex;
  width: 45%;
  min-width: 300px;
}
.end-card-content .flow-card {
  flex-grow: 1;
}

.flow-card-actions {
  border-top: 1px solid #e9e9e9;
  padding-top: 9px;
}



.add-flow-indicater-container {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.tabs.sticked {
    background-color: #fff;
 }
.tabs.sticked.hide-mobile {
  display: block!important;
}

