.flow {
	display: flex;
	padding: 11px 9% 11px 3px;
	flex-direction: column;
}
.flow .flow-card-content {
	display: flex;
	flex-direction: row;
} 

.flow .flow-card-content .flow-bar {
   flex-grow: 30;
   min-width: 30%;
   display: flex;
   flex-direction: column;
   align-content: center;
}
.bars {
   flex-grow: 1;
   width: 7px;
   background: #d9d9d9;
   margin: 0 auto;
}
.bar-m {
   flex-basis: 7px;
   background: #d9d9d9;
   width: calc(50% + 3.5px);
   margin-left: calc(50% - 3.5px);
}


.flow .flow-card-content .flow-card {
	height: auto;
	flex-grow: 70;
  max-width: 400px;
}

.flow .flow-card-content .flow-card.is-loading {
  opacity: 0.4;
  background: #e0e0e0;
}

.flow .flow-card-content .flow-card .loader-bar {
    top: -1.25rem;
    left: -1.25rem;
    width: calc(100% + 1.25rem + 1.25rem);
    z-index: 30;
}

.flow-card figure {
	background: #d9d9d9;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}

.flow-card-divider {
   display: flex;
   flex-direction: row;
   height: 50px;
}
.flow-card-divider .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.flow-card-divider .right {
  width: 70%;
  padding: 11px;
  max-width: 400px;
}
.bar-add-icon {
  flex-basis: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.bar-add-icon i {
	border: 7px solid #d9d9d9;
	color: #777;
	padding: 4px 9px;
	border-radius: 7px;
	background: #f0f0f0;
	cursor: pointer;
	z-index: 20;
  transition: 0.1s all;
}

.bar-add-icon i:hover {
	border-color:  #999;
	color: #555;
}

.end-card-content {
  display: flex;
  width: 45%;
  min-width: 300px;
}
.end-card-content .flow-card {
  flex-grow: 1;
}

.flow-card-actions {
  border-top: 1px solid #e9e9e9;
  padding-top: 9px;
}



.add-flow-indicater-container {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.tabs.sticked {
    background-color: #fff;
 }
.tabs.sticked.hide-mobile {
  display: block!important;
}


.f-card {
  min-width: 100px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 5px 1px rgba(197, 196, 196, 0.14);
  background-color: #fdfdfd;  
  flex-grow: 70;
  max-width: 400px;
}

.f-card .title {
  padding: 11px 15px;
  margin: 0px; 
  display: flex;
  flex-direction: row;
}
.f-card .title .index {
  border: 1px solid #e7e7e7;
  background-color: #f0f0f0;
  padding: 4px;
  font-size: 17px;
  flex-basis: 30px;
  width:30px; 
  text-align: center;
  border-radius: 11px;
}
.f-card .title .text { 
  margin-left: 15px;
  font-size: 19px;
  font-weight: 400;
  border-bottom: 2px solid #e9e9e9;
  cursor: pointer; 
  outline: none;
}
.f-card .title span:hover {
   border-bottom:2px solid #555;
} 
.f-card .content {
  padding: 5px 15px;
  padding-bottom: 0px;
  margin-bottom: 7px;
}
.f-card .content .msgs {
  background-color: #f4f4f4;
  padding: 5px 7px;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  border-left:2px solid #d9d9d9;
}
.f-card .content .others {
   font-size: 13px;
   color:#888;
   font-weight: 300;
   padding: 5px 0px;
}
.f-card .content .others:last-child {
  padding-bottom: 0px;
}
.f-card .content .others span {
  color: #777;
  font-weight: 400;
}
.f-card .footer {
  background-color: transparent;
  padding: 0px;
  padding: 5px 0px;
  margin: 0px 15px;
  border-top: 1px solid #f0f0f0;
  text-align: right;
}
.f-card .footer a {
  border: 0px;
  opacity: 0.7;
}
