<div class="section container">
	<div class="columns">
	  <div class="column is-3 r-border">
	    <div stick-from-top="0">
         <nav class="panel">
			  <p class="panel-heading">
			    {{menuData.name || 'Loading...'}}
			  </p>
			  <span class="panel-block" *ngIf="isLoadingMenu">
			  	<div class="loader-bar"></div>
			  </span>
			  <span class="panel-block is-active flex-wrap" *ngIf="!isLoadingMenu">
			    <span class="panel-icon">
			      <i class="fa fa-share"></i>
			    </span>
			    <span class="tag" *ngFor="let mt of menuData.matches">{{mt}}</span>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingMenu">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Created at: {{menuData.timestamp_created.at}}</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingMenu">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Modified at: {{menuData.timestamp_updated.at}}</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingMenu && menuData.statastics">
			    <span class="panel-icon">
			      <i class="fa fa-check-square"></i>
			    </span>
			    <small>Triggerd: {{menuData.statastics.triggered || '0'}} times</small>
			  </span>
			  <span class="panel-block" *ngIf="!isLoadingMenu && menuData.statastics">
			    <span class="panel-icon">
			      <i class="fa fa-clock-o"></i>
			    </span>
			    <small>Last Triggerd: {{menuData.statastics.triggeredAt || '0'}} ago</small>
			  </span>
	</nav>
		</div> 
	  </div>
	  <div class="column">

	  

	  	<div class="tabs">
		  <ul>
		    <li class="is-active"><a>Menu</a></li>
		  </ul>
		</div>

		<div>
		     <sub-loader *ngIf="isLoadingMenu" loader-title="Loading Flow.."></sub-loader>
          <div *ngIf="!isLoadingMenu">
		     <aside class="menu anim-4 sliceInUp" >
				  <p class="menu-label">
				    Menu Items
				  </p>
				  <ul class="menu-list">
				    <li *ngFor="let m of menuData.menus; let $i = index;">
				      <div class="loader-bar" *ngIf="editable[$i] && editMenuStatus.updating"></div>
				    	<a *ngIf="!editable[$i] && !deletable[$i]" class="anim-3 slideInDown" >{{m}} 
					    	<span class="icon is-small" (click)="showDeleteForm($i)">
						      <i class="fa fa-trash" aria-hidden="true"></i>
						    </span>
						    <span class="icon is-small" (click)="showEditableForm($i)">
						      <i class="fa fa-pencil" aria-hidden="true"></i>
						    </span>

					    </a>
					    <a *ngIf="deletable[$i]" class="anim-3 slideInUp" [class.is-disabled]="editMenuStatus.updating">
                          {{m}}
                          <a class="button is-danger is-outlined is-small ad-action-del anim-4 slideInLeft" (click)="deleteItem($i)" [class.is-loading]="editMenuStatus.updating">Confirm Delete</a>

					    </a>
					    <a *ngIf="editable[$i]" class="anim-3 slideInUp" [class.is-disabled]="editMenuStatus.updating">
					    	<input type="text" [(ngModel)]="editMenu[$i]" value="{{menuData.menus[$i]}}"/>
					    	
						    <span class="icon is-small" (click)="cancelEditableForm()"  >
						      <i class="fa fa-times" aria-hidden="true"></i>
						    </span>

						    <span class="icon is-small" (click)="updateMenuItem($i)" [class.is-disabled]="editMenu[$i].length == 0">
						      <i class="fa fa-check" aria-hidden="true"></i>
						    </span>
					    </a>
					    <div class="err" *ngIf="editable[$i] && editMenu[$i].length == 0">
					      <span class="tag is-danger anim-2 slideInDown">Cannot be blank!</span>
					    </div>
  				    </li>
				  </ul>
		     </aside>
             <br/>
		     <a class="button is-info is-outlined is-small" (click)="addMenuItem()">
		     	<span class="icon is-small">
			      <i class="fa fa-plus"></i>
			    </span>
			    <span>Add items</span>
			 </a>

         </div>

		</div>

	    

      
			
	  	
	  </div>
	 </div>
</div>	  






