<div class="section container anim sliceInUp">
	<div class="columns">
	  <div class="column is-3 r-border">
         <h1 class="title">New Flow</h1>
		 <h2 class="subtitle">Add flow to your bot</h2>
	  </div>
	  <div class="column">

      <form [formGroup]="createForm" >

         <div class="input-container">
         	<div class="label">Flow Name</div>
         	<div class="field">
         		<input type="text" name="" formControlName="name"/>
         	</div>
         	<div class="err">Name Error</div>
         </div>


         <div class="input-container no-style">
         	<div class="label">Flow Mathes</div>
         	<div class="field">
         		<tag-input formControlName="matches" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Items'" (onAdd)="onItemAdded($event)" [editable]="true" [modelAsStrings]="true" [(ngModel)]='matches'></tag-input>
         	</div>
         	<div class="err">Name Error</div>
         </div>


         <a class="button is-success" [class.is-disabled]="!createForm.valid">Create</a> 
         <a class="button">Cancel</a>

	  </form>		

			
	  	
	  </div>
	 </div>
</div>	  