<div class="login">

  <nav class="nav">
		  <div class="nav-center">
		    <a class="nav-item">
		      ChatBotBuilder
		    </a>
		    <a class="nav-item">
		      <span class="icon">
		        <i class="fa fa-twitter"></i>
		      </span>
		    </a>
		  </div>
  </nav>

  <div class="body">
  	<div class="card-l box">

  	    <div><h3 class="title is-3">Login</h3></div>
  		 
  		 <div>
  		    <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 52px;color:#777"></i>
		</div>
		<div ><h2 class="subtitle">Login with google</h2></div>
		<div> 
		  <a class="button is-primary" (click)="googleSignIn()">
		    <span class="icon">
		      <i class="fa fa-google" aria-hidden="true"></i>
		    </span>
		    <span>Sign In</span>
		  </a>
  		</div>


  	</div>
  </div>


</div> 