
	<div class="columns">

	  <div class="column is-3 ">
         <aside class="menu">
		  <p class="menu-label">
		    Services
		  </p>
		  <ul class="menu-list">
		    <li><a [class.is-active]="tab == 'email'" (click)="changeTab('email')">Email</a></li>
		    <li><a [class.is-active]="tab == 'api'" (click)="changeTab('api')">Api</a></li>
		  </ul>
		  
		</aside>
	  </div>

	  <div class="column is-9">

	    
        <div *ngIf="tab == 'email'"> <!-- email tab start -->
        <div class="align-right">
	    	<a class="button is-primary is-outlined anim-9 {{email_service_indi}}" (click)="openEmailServiceModal('insert', -1)">
		    	<span class="icon">
					   <i class="fa fa-plus"></i>
			    </span>
		        <span> New Email Service</span>
	       </a>
	    </div>
	    <br/>

	    <article class="message is-primary" *ngIf="!ServicesData.services.email || ServicesData.services.email == 0">
					  <div class="message-body">
					     No Email Services found!,  click on <span class="tag is-info add-email-service-indicater"  (mouseleave)="email_service_indi = ''" (mouseenter)="email_service_indi = 'wobble'">New Email Service</span> to add services.
					  </div>
	   </article>



	    <div class="columns is-multiline anim sliceInUp">  
		  <div class="column is-6" *ngFor="let item of ServicesData.services.email; let $i = index;">
           
           <div class="card">
			  <div class="card-content">
			    <div class="media">
			      <div class="media-left">
			        <figure class="image is-24x24">
			          <span class="icon">
						  <i class="fa fa-envelope" aria-hidden="true"></i>
					 </span>
			        </figure>
			      </div>
			      <div class="media-content">
			        <p class="title is-6">{{item.name}}</p>
			      </div>
			    </div>
                <hr class="hr" />
			    <div class="content">
			      <div class="ellipsis">To : <span *ngFor="let to of item.to"><span class="tag is-light">{{to}}</span> &nbsp;</span></div>
			      <hr class="hr" />
			      <div class="ellipsis">Subject : <small>{{item.subject}}</small></div>
			       <hr class="hr" />
			      <div class="ellipsis">Body : <small>{{item.body}}</small></div>
			      <hr class="hr"/>
			      <div>
			      	<a class="button is-success is-small is-outlined" (click)="openEmailServiceModal('edit', $i)">Edit</a>
					<a class="button is-danger is-small is-outlined" (click)="openDeleteEmailServiceModal($i)">Delete</a>
				 </div>
			    </div>
			  </div>
			</div>
		 </div>
		</div> 
		</div>  <!-- email tab end -->


		<div class="columns is-multiline anim sliceInUp align-center flex-center" *ngIf="tab == 'api'"> 
		   
            <article class="message is-warning">
			  <div class="message-header">
			    <p>Sorry, Api services are not supported in this version!</p>
			    <button class="delete"></button>
			  </div>
			  <div class="message-body">
			    Api Service's are available from very next release..
			  </div>
			</article>

		</div>

	  </div>
	</div>    










	<!-- email servive edit modal -->

<div class="modal is-active" *ngIf="isEditEmailServiceModal">
  <div class="modal-background"></div>
  <div class="modal-card anim zoomIn">
    <header class="modal-card-head">
      <p class="modal-card-title">{{emailServiceEditStatus.mode | uppercase}} Email Service</p>
      <button class="delete" (click)="isEditEmailServiceModal = false" *ngIf="!isWelcomeModalUpdating"></button>
    </header>
    <section class="modal-card-body">
      <form [formGroup]="emailServiceForm">

      <div class="input-container">
         	<div class="label">Name of the email Service *	</div>
         	<div class="field">
         		<input formControlName="name" type='text' />
         	</div>
         	<div class="err" *ngIf="emailServiceFormErr || emailServiceFormErrors.name">{{emailServiceFormErrors.name}}</div>
       </div>



       <div class="input-container no-style">
         	<div class="label">Recipients *	</div>
         	<div class="field">
         		<tag-input (onFocus)="msg_welcome_err = true" class='tooltip' formControlName="to" [placeholder]="'+ Add'" [secondaryPlaceholder]="'Add Recipients'" [editable]="true" [modelAsStrings]="true">  
                 <span class="tooltiptext">Type and Press Enter to add items</span> 
               </tag-input>
         	</div>
         	<div class="err" *ngIf="emailServiceFormErr || emailServiceFormErrors.to">{{emailServiceFormErrors.to}} </div>
       </div>


       <div class="input-container">
         	<div class="label">Email Subject *	</div>
         	<div class="field">
         		<input formControlName="subject" type='text' />
         	</div>
         	<div class="err" *ngIf="emailServiceFormErr || emailServiceFormErrors.subject">{{emailServiceFormErrors.subject}}</div>
       </div>


       <div class="input-container">
         	<div class="label">Email Body *	</div>
         	<div class="field">
         		<textarea formControlName="body" rows="5" class="mail-body-textarea"></textarea>
         	</div>
         	<div class="err" *ngIf="emailServiceFormErr || emailServiceFormErrors.body">{{emailServiceFormErrors.body}}</div>
       </div>


    </form>



    </section>
    <footer class="modal-card-foot">
      <a class="button is-success tooltip"  [class.is-disabled]="(emailServiceForm.invalid)" (click)="updateEmailService()" [class.is-loading]="emailServiceEditStatus.updating">{{emailServiceEditStatus.mode | uppercase}}
       <span class="tooltiptext" *ngIf="(emailServiceForm.invalid)">Fill are required fields(*)</span> 
      </a>
      <a class="button" (click)="isEditEmailServiceModal = false" [class.is-disabled]="emailServiceEditStatus.updating" >Cancel</a>
    </footer>
  </div>
</div>

<!-- email service  delete modal -->


<div class="modal is-active" *ngIf="emailServiceDeleteStatus.isModal">
  <div class="modal-background" (click)="emailServiceDeleteStatus.isModal = false"></div>
  <div class="modal-content">
     <div class="card anim zoomIn">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4">Confirm to Delete? </p>
		        <p class="subtitle is-6">No longer available for recover!</p>
		      </div>
		    </div>

		    <div class="content">
		      <a class="button is-primary" [class.is-loading]="emailServiceDeleteStatus.updating" (click)="deleteEmailService()">Delete</a>
		      <a class="button is-danger is-outlined" (click)="emailServiceDeleteStatus.isModal = false" [class.is-disabled]="emailServiceDeleteStatus.updating">Cancel</a>
		    </div>
		  </div>
		</div>
  </div>
  <button class="modal-close" (click)="emailServiceDeleteStatus.isModal = false"></button>
</div>