<div class="sug-shower" *ngIf="visible">
	<div class="content anim zoomIn" [ngStyle]="style">
		<div class="area"></div>
		<div class="text" [ngStyle]="textStyle">
			<span>{{title}}</span>

			<div class="ic-ar">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="40.731px" height="40.731px" viewBox="0 0 60.731 60.731" style="enable-background:new 0 0 60.731 60.731;" xml:space="preserve">
				<g>
					<g>
						<path d="M15.875,42.952H4.847l17.78,17.779l17.782-17.779H29.244c1.58-20.951,12.49-37.877,26.64-41.992    C53.726,0.332,51.49,0,49.2,0C31.919,0,17.694,18.8,15.875,42.952z" fill="#ffffff"/>
					</g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
				<g>
				</g>
			</svg>
		</div>
		</div>
		
	</div>
	<div class='back-drop'></div>

</div>