/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100%;
}
.block {
	display: block;
	width: 100%;
}

.section {
  background-color: transparent;
}


@media screen and (max-width: 768px) {
    .hide-mobile {
       display: none!important;
    }

    .r-border {
      border-right: 0!important;
      border-bottom: 1px solid #d9d9d9;
    }
}


.modal.is-active {
  z-index: 400;
}
.s-table {
 display: table!important;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
hr.hr {
    padding: 0;
    margin: 9px 3px;
}
.loading {
   display: block;
   width: 100%;
   height: 100%;
   position: fixed;
   top:0;
   left: 0;
   overflow:hidden;
   z-index: 999;
}
.loading .dim {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.8;
	overflow:hidden;
	}

.loading .front {
    display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
    align-items: center;
    vertical-align: middle;
    overflow:hidden;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;

}
.loading .front .info {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

.loading .front .info .title {
      color:#fff;
      font-size: 17px;
      margin-top: 9px;
}


.notification {
  position: fixed!important;
  width: 400px;
  bottom: 20px;
  right: 20px;
  z-index: 700;
  display: block;
}
.anim {
  animation-duration: 0.3s;
}
.for-space {
  margin-left:2px;
  margin-right: 2px;
}
.r-border {
  border-right: 1px solid #d9d9d9;
}


.input-container {
   margin: 9px 0;
}
.input-container .label {
    margin-bottom: 0!important;
    color: #363636; 
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.input-container .field {
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
}

.input-container .field input {
  background-color: transparent;
  border:none;
  border-bottom: 2px solid #d9d9d9;
  outline: none;
  padding: 5px 0;
  font-size: 17px;
  width: 100%;
  color: #444;
}
.input-container.no-style .field input, .input-container.no-style .field input:hover, .input-container.no-style .field input:focus {
  border-bottom: none;
} 
.input-container .field input:hover {
  border-bottom: 2px solid #b0b0b0;
}
.input-container .field input:focus {
  transition: 0.1s all;
  border-bottom: 2px solid #555;
}

.input-container .err {
  color:#ff3860;
  position: relative;
  top:-7px;
  font-size: 13px;
}

.input-container.no-space {
  margin: 0;
}

.is-disabled {
    cursor: not-allowed!important;
    opacity: 0.5!important;
}

.tooltip {
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 9px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left:10%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.l-tag {
  display: block;
  border-left: 2px solid #d9d9d9;
  padding: 5px;
  font-size: 14px;
  margin-top: 3px;
}

.sticked {
  z-index: 100;
  transition: .3s all;
  opacity: 0.9;
}

.mail-body-textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
  padding: 7px;
  line-height: 1.3;
}

.auto-list {
  border: 1px solid #d9d9d9;
  margin-top: -3px;
  background-color: #f0f0f0;
}

.auto-list .title {
  font-size: 13px;
  color:#777;
  padding: 9px 17px;
  margin: 0;
}


.auto-list .no-res {
  font-size: 14px;
  font-weight: 400;
  padding: 9px 15px;
}

.auto-list .auto-list-item { 
  padding: 5px 11px;
  font-size: 15px;
  cursor: pointer;
  transition: .2s all;
}
.auto-list .auto-list-item:hover { 
  background-color: #000;
  color:#fff;
}
