/* You can add global styles to this file, and also import other style files */

.block {
	display: block;
	width: 100%;
}

.loading {
   display: block;
   width: 100%;
   height: 100%;
   position: fixed;
   top:0;
   left: 0;
   overflow:hidden;
   z-index: 999;
}
.loading .dim {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.8;
	overflow:hidden;
	}

.loading .front {
    display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
    align-items: center;
    vertical-align: middle;
    overflow:hidden;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;

}
.loading .front .info {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

.loading .front .info .title {
      color:#fff;
      font-size: 17px;
      margin-top: 9px;
}


.notification {
  position: absolute!important;
  width: 400px;
  bottom: 20px;
  right: 20px;
  z-index: 700;
  display: block;
}
