@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update blue
// Add pink and its invert
$blu-pri: #00B8D4;
$blu-pri-invert: #fff;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #00d1b2;
$primary-invert: $blu-pri-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family

$body-background: #fafbfc;

$family-sans-serif :	-apple-system, BlinkMacSystemFont, "Segoe UI",
"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
"Helvetica Neue", "Helvetica", "Arial", sans-serif;


// import custom vars colors sass
@import "assets/sass/vars_css.sass";
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";