@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update blue
// Add pink and its invert
$blu-pri: #00BCD4;
$blu-pri-invert: #fff;
// Add a serif family
$family-serif: 'Roboto', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blu-pri;
$primary-invert: $blu-pri-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family

$body-background: #fafbfc;


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";